* {
    box-sizing: border-box;
}



@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-bold-webfont.woff2) format('woff2'),
        url(../fonts/raleway-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-light-webfont.woff2) format('woff2'),
        url(../fonts/raleway-light-webfont.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-regular-webfont.woff2) format('woff2'),
        url(../fonts/raleway-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'raleway', Tahoma, Arial, sans-serif;
    line-height: 150%;
}

.container {
    max-width: 1054px;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
}

h2:after {
    content: '';
    display: block;
    width: 320px;
    height: 8px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: -2px;
    background: #24ba9f;
}

header {
    background-color: #000;
}

header .container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
    padding: 10px 0;
}

header .container span {
    color: #24ba9f;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul.menu {
    text-align: right;
}

li.menu_element {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

li.menu_element:last-child {
    padding-right: 0;
}

li.menu_element>a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
}

ul.dropdown {
    position: absolute;
    top: 180%;
    height: 0;
    width: 120px;
    margin-left: -20px;
    background: black;
    font-size: 14px;
    text-transform: none;
    transition: 0.4s;
    overflow: hidden;
}

li.dropdown_element {
    text-align: left;
    line-height: 150%;
    padding: 5px;
}

li.dropdown_element a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

ul.dropdown:before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 53px;
    height: 13px;
    width: 13px;
    background: black;
    transform: rotate(45deg);
}

li.menu_element:hover>ul.dropdown {
    height: 100px;
    transition: opacity 0.4s ease-in-out;
    overflow: initial;
    padding-top: 10px;
}

section.slider {
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(207, 207, 215, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(100%, rgba(207, 207, 215, 1)));
    background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(207, 207, 215, 1) 100%);
    background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(207, 207, 215, 1) 100%);
    background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(207, 207, 215, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(207, 207, 215, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#cfcfd7', GradientType=0);
}

section.slider .container {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 40px;
}

.box__chair {
    display: flex;
    align-items: center;
}

.chair img {
    width: 350px;
    margin-right: 50px;
}

button.navigator {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #24ba9f;
    border: none;
    font-size: 80px;
    outline: none;
}

.info button {
    display: inline-block;
    background-color: #24ba9f;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 25px;
}

section.slider .info {
    text-align: center;
    width: 440px;
}

section.slider .info h1 {
    font-size: 2.5rem;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
}

section.slider .info h1 span {
    color: #24ba9f;
    font-weight: bold;
}

section.slider .info p {
    color: #000;
    padding: 40px 0;
    text-align: center;
}

section.news {
    background-color: #fff;
    padding: 30px 0 50px 0;
    margin-bottom: 45px;
}

section.news ul {
    display: flex;
    justify-content: space-between;
}

section.news ul li {
    position: relative;
}

section.news ul li:last-child {
    position: relative;
    padding-right: 0;
}

section .news h3 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.box__news {
    position: relative;
}

.box__news h3 {
    position: absolute;
    bottom: 16px;
    padding: 10px 20px 20px 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.box__news h3:after {
    content: "";
    display: block;
    width: 140px;
    height: 5px;
    background: #24ba9f;
    margin-left: -2px;
}


.box__item h3:after {
    content: "";
    display: block;
    width: 140px;
    height: 5px;
    background: #24ba9f;
    margin-left: -2px;
}


.box__news img {
    display: block;
}

.box__item {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.box__item p {
    color: grey;
    font-size: 14px;
    margin: 20px 0;
}

section.news .container ul li:hover .box__item {
    display: block;
}

.price_wrapper {
    background: #f1f1f1;
    padding: 45px 0 65px;
}

ul.prices {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

ul.prices>li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    position: relative;
    height: 500px;
    margin-right: 30px;
    padding: 30px 0;
    background: #f9f9f9;
    text-align: center;
    border: 2px solid #c2c2c2;
    transition: 0.4s;
}

ul.prices>li:last-child {
    margin-right: 0;
}

ul.prices>li:before {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: 145px;
    height: 25px;
    width: 25px;
    z-index: 2;
    background: #c2c2c2;
    border-radius: 50%;
}

ul.prices>li:after {
    content: '';
    display: block;
    position: absolute;
    top: -40px;
    left: 130px;
    height: 55px;
    width: 55px;
    z-index: 1;
    background: #fff;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
}

ul.prices h3 {
    font-size: 22px;
    color: #24ba9f;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
}

.price p {
    font-size: 16px;
    color: #c2c2c2;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.price p.number {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.price p.number sup {
    font-size: 14px;
    font-weight: bold;
    top: -20px;
}

ul.price_item {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-top: 35px;
}

ul.price_item li {
    font-size: 24px;
    padding: 10px 0;
    color: #c2c2c2;
}

ul.price_item li:nth-of-type(2n+1) {
    background: #e4e4e4;
}

ul.price_item li:nth-of-type(2n+2) {
    background: #f1f1f1;
}

ul.prices button {
    margin: auto 100px 0;
    padding: 8px 30px;
    background: #24ba9f;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

ul.prices>li:hover {
    background: #24ba9f;
    border: 2px solid #24ba9f;
    transition: 0.4s;
}

ul.prices>li:hover:before {
    background: #fff;
}

ul.prices>li:hover:after {
    background: #24ba9f;
    border: 2px solid #24ba9f;
}

ul.prices>li:hover h3 {
    color: #fff;
}

ul.prices>li:hover .price {
    border: 2px solid #fff;
}

ul.prices>li:hover .price p {
    color: #24ba9f;
}

ul.prices>li:hover ul.price_item {
    border-top: 2px solid #24ba9f;
    border-bottom: 2px solid #24ba9f;
}

ul.prices>li:hover ul.price_item li:nth-of-type(2n+1) {
    background: #fff;
}

ul.prices>li:hover button {
    background: #fff;
    color: #24ba9f;
}


.contact {
    margin: 30px 0;
}

.complete {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

form {
    flex: 2;
    margin-right: 100px;
}

.send {
    flex: 1;
}

.form_item {
    display: block;
    width: 100%;
    padding: 30px 10px 15px 10px;
    margin-bottom: 30px;
    border: 1px solid rgba(36, 186, 159, 0.45);
    font-size: 15px;
    color: #cdcdcd;
}

.form_item:last-child {
    margin-bottom: 0;
    padding: 10px;
}

::-webkit-input-placeholder {
    color: #cdcdcd;
    font-family: 'raleway', Tahoma, Arial, sans-serif;
    font-weight: 300;
    font-size: 35px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #cdcdcd;
    font-family: 'raleway', Tahoma, Arial, sans-serif;
    font-weight: 300;
    font-size: 35px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #cdcdcd;
    font-family: 'raleway', Tahoma, Arial, sans-serif;
    font-weight: 300;
    font-size: 35px;
}

:-ms-input-placeholder {
    color: #cdcdcd;
    font-family: 'raleway', Tahoma, Arial, sans-serif;
    font-weight: 300;
    font-size: 35px;
}

.send img {
    display: block;
    margin-bottom: 30px;
}

.checkbox {
    float: left;
    position: relative;
    margin: 20px;
}

.checkbox:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: -25px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #24ba9f;
    cursor: pointer;
    clear: both;
}

.checkbox:checked:after {
    background-image: url(../images/form_ok.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.send label {
    font-size: 18px;
    color: #cdcdcd;
}

.send .button {
    color: #fff;
    background: #24ba9f;
    padding: 15px 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

}

.copyright {
    flex: 2;
    color: #cdcdcd;
}

.media {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.media ul {
    display: flex;
    flex: 1;
    justify-content: left;
}

.media ul li {
    margin-right: 5px;
}

.media ul li:last-child {
    margin-right: 0;
}

.media ul li:first-child {
    margin-left: 15px;
}

.media ul li img {
    width: 32px;
    height: auto;
}

h4 {
    flex: 1;
    color: #cdcdcd;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h4 span {
    font-weight: bold;
}